.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 16px;
}

@media (max-width: 1024px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 640px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.container table th {
  color: #526987 !important;
  font-weight: 700;
}

.container table td {
  color: #020617 !important;
}

:global(html.dark) .container table td {
  color: #ffffff !important;
}

/* Dark Mode */