.postCard {
  margin-bottom: 16px;
}

.header {
  display: flex;
  align-items: center;
  gap: 12px;
}

.author {
  margin: 0;
  color: var(--text-h);
  font-size: 16px;
}

.date {
  margin: 4px 0 0;
  color: var(--text);
  font-size: 12px;
}

.content {
  margin: 16px 0 0;
  color: var(--text);
  font-size: 14px;
  line-height: 1.6;
}

/* Dark Mode */

:global(.dark) .author {
  color: #f8fafc;
}

:global(.dark) .date {
  color: #94a3b8;
}

:global(.dark) .content {
  color: #f8fafc;
}